html {
    background-color: #E0D4CC
}


/*Text on Screen*/

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    text-align: center;
    color:black;
    font-weight: lighter;
}

h2 {
    color: black;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}


h3 {
    font-weight: lighter;
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h4 {
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

a {
    text-decoration: none; 
    color:black; 
    border-bottom: 1px dashed #5c5c5c;
}

.pogimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

figure figcaption {
    padding-top: 0.1vw;
    text-align: center;
}

button {
    animation: fadedown 0.5s;
    position:absolute;
    display: inline;
    border: none;
    font-size: 1.8vw;
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
    color:black;
    text-decoration: none;
    top: 40px;
    left: 50px;
    background-color: transparent;
    
}

table {
    margin:5em 10em 5em 10em;
}

.aww {
    animation: fadeup 0.5s;
    display:block;
    line-height: 0px;
}

.aww img {
    padding-top: 3em;
    max-width: 75%;
    max-height: 75%;
}

.phone {
    display:none;
    text-align:center;
}

.role {
    animation: fadeup 0.5s;
}
.roletext {
    animation: fadeup 0.5s;
   padding: 0px 5vw 2em 5vw; 
}


 /* Animations */
 @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@keyframes fadedown {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1; 
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1; 
        transform: translateY(0px) scale(1);
    }
}


/* Phone Version */
@media(max-width:1000px) {
   .aww {
    display:none;
   }

   .phone {
    animation: fadeup 0.5s;
    display:block;
   }

   .phone img {
    padding-top: 5em;
    max-width: 100%;
    max-height: 100%;
   }

   button {
    font-size: 4vw;
   }

   h1 {
    font-size: 9vw;
    line-height: 14px;
   }

   h2 {
    font-size: 6.5vw;;
    line-height: 40px;
   }

   h3 {
    font-size:  3vw;
    line-height: 15px;
   }
   
   h4 {
    color: black;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size:  3.7vw;
   }

   .role {
    padding-top: 0.5em;
    }

   .roletext {
    padding-top: 0.5em;    
   }

   a {
    border-bottom: 2px dashed #5c5c5c;
   }

}
