html {
    background-color: #E0D4CC
}


* {
    box-sizing: border-box;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 50px;
    height: 3px;
    margin: 13px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.wrapper {
    display:none;
    visibility: hidden;
}
.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li a {
    color: black;
    text-decoration: none;
    font-size: 8vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    line-height: 350%;
}

u {
    text-decoration: none; 
    color:black; 
    border-bottom: 1px dashed #5c5c5c;
}

p {
    
    color: black;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    line-height: 350%;
}

 /* Nav Bar */
 .navbar {
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #E0D4CC;
    animation: fadedown 0.5s;
}

.navmenu {
    padding-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    padding-bottom: 2%; 
    background-color: #E0D4CC;
}

.navbar ul {
    background-color: #E0D4CC;
    list-style: none;
}

.navbar ul li a {
    background-color: #E0D4CC;
    color: black;
    text-decoration: none;
    font-size: 1.7vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

/* Actual Text on Page */
.phone {
    display:none;
}

.main {
    text-align: center;
    animation: fadedown 0.5s;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 8vw;
    text-align: center;
    color:white;
    font-weight: lighter;
    line-height: 0;
}

h2 {
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: Bold;
}


h3 {
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

.resumelink {
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

.content {
    animation: fadeup 0.5s;
}

.content a {
    color: black;
    text-decoration: none;
}

table {
    margin:5em 10em 5em 10em;
}

.aww {
    display:inline;
    line-height: 0px;
}

.aww img {
    max-width: 75%;
    max-height: 75%;
}


 /* Animations */
 @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@keyframes fadedown {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1; 
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1; 
        transform: translateY(0px) scale(1);
    }
}


/* Phone Version */
@media(max-width:1000px) {
    .hamburger{
        display: block;
        position:absolute;
        right: 40px;
        top: 3vw;
    }

    .computer {
        display: none;
        visibility: hidden;
    }

    .navmenu {
        display: none;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform:translateY(16px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform:translateY(-16px) rotate(-45deg);
    }

    .wrapper {
        display:block;
        visibility: hidden;
    }
    .wrapper.fade {
        animation: fadeout 0.4s;   
        opacity: 0;     
    }

    .wrapper.active {
        visibility: visible;
        animation: fadein 0.6s;
    }
    .phone {
        display: block;
    }

    .phone.active {
        display:none;
    }

    .computer {
        display:none;
    }

    .phonecontent {
        animation: fadeup 0.5s;
        text-align: center;
    }

    .phonecontent img {
        padding-top: 3em;
        max-width: 100%;
        max-height: 100%;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 14vw;
        text-align: center;
        color:white;
        font-weight: lighter;
    }

    h2 {
        color: black;
        text-decoration: none;
        font-size: 6.5vw;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: Bold;
        line-height: 3px;
    }
    
    
    h3 {
        color: black;
        text-decoration: none;
        font-size: 3.7vw;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: lighter;
        line-height: 12px;
    }

    .resumelink {
        color: black;
        text-decoration: none;
        font-size: 3.5vw;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: lighter;
    }

    .main2 {
        padding-top: 2em;
    }

    .phonecontent a {
        color: black;
        text-decoration: none;
    }
    
    u {
        border-bottom: 2px dashed #5c5c5c;
    }

}