html {
    background-color: #E0D4CC
}

* {
    box-sizing: border-box;
}


.navbar {
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navmenu {
    padding-top: 3%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.navbar ul {
    list-style: none;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.wrapper {
    display:none;
    visibility: hidden;
}
.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li a {
    background-color: #E0D4CC;
    color: black;
    text-decoration: none;
    font-size: 5vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    line-height: 350%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@media(max-width:1000px) {
    .hamburger{
        display: block;
        position:absolute;
        right: 40px;
        padding-top: 3%;
    }

    .navmenu {
        display: none;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform:translateY(-8px) rotate(-45deg);
    }


    .main.active {
        visibility: hidden;
    }
    .wrapper {
        display:flex;
        visibility: hidden;
    }
    .wrapper.fade {
        animation: fadeout 0.4s;   
        opacity: 0;     
    }

    .wrapper.active {
        visibility: visible;
        animation: fadein 0.4s;
    }





}


h1 {
    display: block;
    font-family: 'Playfair Display', serif;
    color:white;
}