html {
    background-color: black
}

.header {
    padding-block: min(10vh, 10rem);
}

p {
    font-size: 6vw;
    padding-left: min(9vh, 7rem);
    color: white;
    font-family: 'Inter Tight', sans-serif;
  }

h1 {
    line-height: 0em;
    font-size: 9vw;
    padding-left: min(9vh, 7rem);
    color: white;
    padding-bottom: 0.3em;
    font-family: 'Inter Tight', sans-serif;
} 

@keyframes fade-inout{
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}

.hello {
    opacity: 0;
    animation: fade-inout 1s;
    opacity: 1;
}

.title {
    opacity: 0;
    animation: fade-inout 1s;
    opacity: 1;
}

.t2 {
    display: none;
    line-height: 0.3em;
}

.nextsen2 {
    opacity: 0;
    animation: fade-inout 1s;
    opacity: 1;
}

.t3 {
    display: none;
    line-height: 0.3em;
}

.nextsen3 {
    opacity: 0;
    animation: fade-inout 1s;
    opacity: 1;
}


.t4 {
    display: none;
    line-height: 0.3em;
}

.nextsen4 {
    opacity: 0;
    animation: fade-inout 1s;
    opacity: 1;
}

.welcome {
    display: none;
    margin:auto;
    text-align: center;
    padding-right: min(9vh, 7rem);
    font-size: 3vw;
    color: white;
    font-family: 'Inter Tight', sans-serif;
    opacity: 0;
    animation: fade-inout 1s;
    opacity: 1;
}


.nextsen5 {
    padding-left: min(9vh, 6.5rem);
}

img {
    max-width: 30%;
    max-height: 30%;
    height: auto;
    width: auto\9; 
}